.mini_container img {
	margin-left: 50px;
    border-radius: 10%;
    height: 100px;
    width: 100px;
    transition: all 0.7s ease;
	border-style: inset;
}
.mini_container { 
	margin-top: 30px;
	width: 800px;
	margin-left: 300px;
}
.prev, .next {
	margin-left: 20px;
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    color: gray;
}
.mySlides img {
	border-radius: 10%;
    width: 500px;
	height: 200px;
	border-style: outset;
}

.container {
	height: 200px;
    width: 500px;
    position: relative;
    margin: 0 auto;
}

.next {
	margin-left: 470px;
}
a:hover {
	background-color: red;
}
h1 {
	color: Green;
    margin-left: 600px;
}